body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    background-size: cover;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    margin-top:100px;
    background-color: transparent;
    width: 50vw;
    overflow:hidden;
    height: 1%;
}

/* .text-area {
    padding: 10%;
} */
.data {
    width: 100%;
    position: relative;
}

.quoteText {
    text-align: center;
    font-family: 'bigger_love_demoregular', Helvetica,Arial, sans-serif !important;
    font-size: 2.5em;
    font-weight: bold;
}

.quoteAuthor {
    text-align: right;
    font-family: 'bigger_love_demoregular', Helvetica,Arial, sans-serif !important;
    font-size: 1.6em;
    font-style: italic;
}

h1 {
    margin-top: 20px !important;
    padding-top: 2%;
    display: block;
    text-align: center;
    font-family: 'sweet_sensations_personal_uRg', Arial, Helvetica, sans-serif !important;
    font-size: 5em !important;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    opacity: 0.8;
}

div.social-buttons > button{
    margin: 0px 2px;
}

@media only screen and (max-width: 480px) {
    .buttons {
        flex-direction: column;
        align-items:center; 
    }
    button.generate {
        margin-bottom: 5px;
        width: 100%; 
    }
    div.social-buttons > button{
        margin: 1px 3px;
    }
}